.accordion-button:focus {
    box-shadow: none;
    color: black;
}

.mission-vision-goals svg {
    font-size: 3.5rem;
}

.employee-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: space-evenly;
    column-gap: 0.75rem;
    row-gap: 1rem;
}

.employee-overlay {
    transition: 0.2s;
}

.employee-overlay ul {
    list-style: '- ';
}

.employee:hover .employee-overlay {
    opacity: 75% !important;
}

.school-card-row {
    padding: 0.75rem;
    text-align: center;
}

.school-card-row:nth-child(2n) {
    background-color: var(--bs-gray-100);
}

@media screen and (max-width: 767px) {
    .accordion-collapse {
        position: static !important;
    }
}