.btn-attachment {
	color: var(--bs-light);
	background: var(--yellow);
	transition: 0.2s;
	font-size: 0.8rem;
}

.btn-attachment:hover, .btn-attachment:focus {
	background: var(--bs-warning);
	color: var(--bs-light);
}