.contact-wrapper {
    width: 100%;
    height: calc(100vh - 4rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-form {
    width: clamp(350px, 40%, 40rem);
    font-size: 1.15rem;
}

#contact-form input:not([type=submit]), #contact-form textarea {
    border: none;
    border-bottom: 3px solid var(--bs-dark);
    transition: 0.2s;
}

#contact-form input:not([type=submit]):hover, #contact-form textarea:hover {
    border-bottom: 3px solid var(--primary-green);
    outline: none;
    background-color: var(--bs-white) !important;
}

#contact-form input:not([type=submit]):focus, #contact-form textarea:focus {
    border-bottom: 3px solid var(--primary-green);
    outline: none;
    background-color: var(--bs-white) !important;
}

@media screen and (max-width: 769px) {
    #contact-form {
        width: 95%;
        font-size: 1rem;
    }
}
