.category-label {
    transition: 0.2s;
}

.category-label.selected {
    background: var(--light-green) !important;
    border-color: var(--bs-success) !important;
    color: var(--bs-light);
}

.img-container {
    height: 14rem;
}

.img-caption {
    transition: 0.2s;    
}

.img-container:hover .img-caption {
    opacity: 0.75 !important;
}