:root {
    font-size: 16px;
    --primary-green: #30885C;
    --light-green: #4ABF85;
    --yellow: #FFCC33;
}

a {
    text-decoration: none !important;
}

nav {
    height: 4rem;
}

nav > div {
    min-height: 4rem;
}

.navbar-collapse.show {
    top: 4rem;
}

.navbar-brand {
    font-size: 1.5rem!important;
    font-weight: bold;
}

.nav-item a {
    font-size: 1.05rem;
    font-weight: bold;
}

.dropdown-shadow {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.23);
}

ul hr {
  width: 90%;
  margin: 0 auto;               
  background: color #30885c;
  border-bottom: 1px solid #30885C;
}
main {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.bg-primary-green {
    background-color: var(--primary-green)!important;
}

.bg-light-green {
    background-color: var(--light-green)!important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.section-header {
    padding: 0.5rem;
    background: var(--light-green);
    text-align: center;
}

.nav-brand-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    nav > .container-fluid {
        width: 100%;
    }

    .nav-brand-container {
        width: 100%;
    }   
}

.section-header {
    padding: 0.5rem;
    background: var(--light-green);
    text-align: center;
}

.nav-brand-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    nav > .container-fluid {
        width: 100%;
    }

    .nav-brand-container {
        width: 100%;
    }   
}

.article-card .card-title {
    transition: 0.2s;
}

.article-card:hover .card-title {
    color: var(--yellow);
}

.article-carousel .carousel-caption {
    bottom: 2rem !important;
}

.article-carousel img {
    height: 20% !important;
    max-height: 20rem;
}