/* Global */
:root {
    font-size: 16px;
    --primary-green: #2A7952;
    --light-green: #4ABF85;
    --yellow: #FFCC33;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.text-hover-yellow {
    color: var(--bs-dark) !important;
    transition: 0.2s;
}

.text-hover-yellow:hover, .text-hover-yellow:focus {
    color: var(--yellow) !important;
}

main {
    min-height: calc(100vh - 12rem);
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.bg-primary-green {
    background-color: var(--primary-green)!important;
}

.bg-light-green {
    background-color: var(--light-green)!important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

section {
    transition: 0.2s;
}

.section-header {
    width: fit-content;
    padding: 1rem;
    border: 4px solid var(--light-green);
    font-weight: bold;
    text-align: center;
}

.section-header > * {
    margin: 0;
}

/* Navbar */
nav {
    height: 4rem;
}

nav > div {
    min-height: 4rem;
}

.navbar-collapse.show {
    top: 4rem;
}

.navbar-brand {
    font-size: 1.5rem!important;
    font-weight: bold;
}

.nav-item a {
    font-size: 1.05rem;
    font-weight: bold;
}

.dropdown-shadow {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.23);
}

ul hr {
  width: 90%;
  margin: 0 auto;               
  background: color #30885c;
  border-bottom: 1px solid #30885C;
}

.nav-brand-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    nav > .container-fluid {
        width: 100%;
    }

    .nav-brand-container {
        width: 100%;
    }   
}

.nav-brand-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    nav > .container-fluid {
        width: 100%;
    }

    .nav-brand-container {
        width: 100%;
    }   
}

.language-btn {
    background: inherit;
    outline: none;
}

.language-dropdown input {
    margin: 0;
}

.article-card {
    max-width: 60rem;
}

.article-card .card-title {
    transition: 0.2s;
}

.article-card:hover .card-title {
    color: var(--yellow);
}

.article-card-carousel .carousel-caption {
    bottom: 2rem !important;
}

.article-card-carousel img {
    max-height: 20rem;
}

/* Footer */
footer {
    min-height: fit-content;
    max-height: 24rem;
    padding-top: 20px;
}

footer a {
    transition: 0.2s;
}

footer a:hover {
    color: var(--yellow) !important;
}

footer .icon {
    width: 25px;
    height: 25px;
    background-color: var(--bs-light);
    border-radius: 50%;
}

.ilinden-logo {
    color: var(--yellow);
    font-size: 35px;
}

.sosu-logo {
    font-size: 35px;
    color: white;
}

.text-yellow {
    color: var(--yellow);
}

.text-primary-green {
    color: var(--primary-green);
}

.text-light-green {
    color: var(--light-green);
}

@media screen and (max-width: 992px) {
    footer {
        max-height: none;
    }
}

.bottom-map {
    margin-bottom: -4.5rem;
}