#main-carousel {
    height: calc(100vh - 4rem);
}

.carousel-caption {
    height: fit-content !important;
    left: 0 !important;
    right: 0 !important;
    top: 50%;
    transform: translateY(-50%);
}

.video-container > * {
    max-width: 40rem;
}

.scroll-down {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
}

.counter-number {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
}

@media screen and (max-width: 992px) {
    #main-carousel {
        min-height: 25vh;
        height: 40vw;
    }
}