{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'За Нас' %}{% endblock %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css' %}">

    <section class="pt-5 container-xl">
      	<h2 class="section-header mx-auto text-light-green">{% translate 'ВИЗИЈА, МИСИЈА, ЦЕЛИ и РЕСУРСИ на училиштето' %}</h2>
		
		<div class="mission-vision-goals pt-4 row row-cols-1 row-cols-lg-3 g-2 g-lg-3 g-xl-5">
			<div class="col">
				<div class="shadow p-3">
					<h3 class="d-flex flex-column align-items-center gap-1">
						<i class="fa fa-lightbulb text-yellow"></i>
						<p class="m-0">{% translate 'Визија на училиштето' %}</p>
					</h3>
					<p>
						{% translate 'Нашето училиште го гледаме како современо, европско училиште полно со професионализам, креативност и сигурен развој кон најелитните училишта за оспособување на кадар од електротехничка струка.' %}
					</p>
				</div>
			</div>
			<div class="col">
				<div class="shadow p-3">
					<h3 class="d-flex flex-column align-items-center gap-1">
						<i class="fa fa-pen text-yellow"></i>
						<p class="m-0">{% translate 'Мисија на училиштето' %}</p>
					</h3>
					<ul class="ps-3">
						<li>{% translate 'Да образуваме ученици (компатибилно со европските стандарди) со квалитетни и доживотни когнитивни и теоретски знаења, умеења, вештини и навики (кои континуирано и доживотно ќе се надоградуваат) како и способности за совладување на современата технологија заради технолошките промени во процесот на работа;' %}</li>
						<li>{% translate 'Да го поддржуваме самовработувањето и јакнеме продуктивноста;' %}</li>
						<li>{% translate 'Да образуваме стручни кадри оспособени за примена на научните достигнувања во практиката, за творечко и одговорно однесување спрема работата, средината, општеството и спрема самите себе.' %}</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="shadow p-3">
					<h3 class="d-flex flex-column align-items-center gap-1">
						<i class="fa fa-bullseye text-yellow"></i>
						<p class="m-0">{% translate 'Цели на училиштето' %}</p>
					</h3>
					<ul class="ps-3">
						<li>{% translate 'Создавање на модерно училиште кое се стреми да обезбеди имиџ на посакувано училиште од страна на учениците и на тој начин да влезе во редот на оние најквалитетни училишта кои не ги бараат учениците туку учениците сами избираат да се запишат и дообразуваат кај нас' %}</li>
						<li>{% translate 'Проширување на соработката со повеќе компании од стопанството и потпишување на Меморандуми за соработка' %}</li>
						<li>{% translate 'Обезбедување работна пракса за нашите ученици во компаниите со кои се потпишани Меморандумите за соработка' %}</li>
						<li>{% translate 'Поголема опфатеност на генерацијата што завршува основно образование во нашата општина и зголемување на бројот на паралелки и образовни профили' %}</li>
						<li>{% translate 'Континуирано промовирање на училиштето' %}</li>
						<li>{% translate 'Опремување на кабинетите и лабораториите со најсовремена опрема, со нови наставни и нагледни средства' %}</li>
						<li>{% translate 'Максимална употреба на ИКТ во наставата' %}</li>
					</ul>
				</div>
			</div>
		</div>
    </section>

	<section class="pt-5 container-lg">
		<h2 class="section-header mx-auto text-light-green">{% translate 'Вработени' %}</h2>

		<ul class="employee-list list-unstyled m-0 pt-4">
			{% for employee in employees %}
				<li class="employee col">
					<div class="text-center shadow">
						<div class="image-wrapper position-relative w-100">
							<img src="/media/{{ employee.image }}" alt="{{ employee.full_name }}" class="w-100 object-fit-contain">
							<div class="employee-overlay position-absolute top-0 w-100 h-100 p-2 d-flex flex-column align-items-center justify-content-center gap-2 opacity-0 text-dark bg-yellow">
								<h5 class="m-0">{{ employee.title }}</h5>
								<h4 class="m-0">{{ employee.full_name }}</h4>
								{% if employee.subjects.count > 0 %}
									<h6 class="m-0">{% translate 'Предмети: ' %}</h6>
									<ul class="m-0 p-0 text-start">
										{% for subject in employee.subjects.all %}
											<li class="small">{{ subject.name }}</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</div>
						<h5 class="m-0 py-2 px-1 bg-light-green text-light">{{ employee.full_name }}</h5>
					</div>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section id="school-history" class="container-lg pt-5">
		<h2 class="section-header mx-auto text-light-green">{% translate 'Историја на училиштето' %}</h2>
		
		<div class="py-5 px-2 row row-cols-1 row-cols-lg-2 g-2">
			<div class="m-0 col px-3 ps-lg-0 pe-lg-5">
				<div class="py-2">
					<p>{% trans "Основач на Средното општинско стручно училиште „Илинден“ е Општина Илинден." %}</p>
					<p>{% trans "Општина Илинден се наоѓa на 10 км оддалеченост од главниот град Скопје. Го зафаќа источниот дел на Скопската котлина, на тромеѓето Скопје-Куманово – Велес .Општина Илинден се граничи со Општините Гази Баба, Арачиново, Куманово и Петровец. Според пописот на населението од 2002 година, вкупниот број жители во Општина Илинден изнесува 15.894, кои живеат во 4.298 домаќинства или, просечно по 3,7 членови во домаќинство. Густината на населеност изнесува 150 жители/km2." %}</p>
					<p>{% trans "Во состав на Општина Илинден влегуваат 12 (дванаесет) населени места и тоа: Илинден, Марино, Кадино, Мралино, Ајватовци, Бунарџик, Миладиновци, Бујковци, Мршевци, Бучинци, Текија и Дељадровци." %}</p>
				</div>
				<div class="py-2">
					<p>{% trans "Поаѓајќи од фактот дека образованието е еден од клучните двигатели на процесите во едно општество, Градоначалникот на Општина Илинден, господинот Жика Стојановски и Советот на Општина Илинден го основаа Средното општинско стручно училиште „Илинден“ – Илинден." %}</p>
					<p>{% trans "Со основањето на средното електротехничко училиште „Илинден“ во општина Илинден се овозможи дел од учениците од основните училишта „Гоце Делчев“, „Браќа Миладиновци“ и „Ристо Крле“ да го продолжат средното образование во општина Илинден. На тој начин се скрати времето потребно за патување на учениците, се обезбеди подобрување на условите за престој на учениците средношколци и подобрување на образовниот процес во општината." %}</p>
					<p>{% trans "Се разбира, училишните врати се отворени и за сите ученици кои доаѓаат од другите општини." %}</p>
				</div>
			</div>
	
			<div class="col">
				<div class="border border-1 shadow">
					<h4 class="p-3 text-center text-light bg-yellow">{% trans "Лична карта на училиштетот" %}</h4>
					<div class="school-card-body">
						<div class="school-card-row">
							<strong>{% translate 'Име на училиштето' %}</strong>
							<span>{% translate 'Средно општинско стручно училиште “Илинден”' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Адреса, општина, место' %}</strong>
							<span>{% translate 'улица “534” бр. 29 Марино, Илинден' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Телефон' %}</strong>
							<span>02/ 2 552-320; 02/ 2 566-111; (070) 83 00 92</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Е-маил' %}</strong>
							<span>suilinden@yahoo.com</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Основано од' %}</strong>
							<span>{% translate 'Општина Илинде' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Верификација- број на актот' %}</strong>
							<span>11-1361/4</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Година на верификација' %}</strong>
							<span>13.03.2013</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Јазик на кој се изведува наставата' %}</strong>
							<span>{% translate 'Македонски' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Година на изградба' %}</strong>
							<span>2011/2012</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Тип на градба' %}</strong>
							<span>{% translate 'Модуларен систем на градба' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Површена на објектот' %}</strong>
							<span>2.279.84 m<sup>2</sup></span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Површина на училшниот двор' %}</strong>
							<span>6.500 m<sup>2</sup></span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Површина на спортски терени и игралишта' %}</strong>
							<span>{% translate 'Општинска спортска сала и отворени тениски игралишта' %}</span>
						</div>
						<div class="school-card-row">
							<strong>{% translate 'Начин на загревање на училиштето' %}</strong>
							<span>{% translate 'Геотермални води' %}</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

    <section class="mt-5 bottom-map">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.0775546549135!2d21.58139251568422!3d41.98931326642568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135438daccb390ed%3A0xa2544433bb236be9!2z0KHQntCh0KMgItCY0LvQuNC90LTQtdC9Ig!5e1!3m2!1sen!2smk!4v1646334169948!5m2!1sen!2smk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>
{% endblock %}