{% extends 'layout/base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
    {% translate "Новости" %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">

    <section class="container-sm p-3 px-2 px-md-5 d-flex flex-column align-items-center gap-3">
        <h2 class="section-header text-light-green">{% translate 'Новости' %}</h1>
        
        <form id="article-filter-form" class="w-100 px-3 pt-3 row gy-2 align-items-center">
            <label class="m-0 py-1 col-12 col-lg-3 d-flex gap-2 align-items-center">
                <span class="m-0">{% translate "Месец" %}</span>
                <input class="d-inline-block form-control rounded-1" type="month" name="time" />
            </label>
            <label class="m-0 py-1 col-12 col-lg-7 d-flex gap-2 align-items-center">
                <span class="m-0">{% translate "Текст" %}</span>
                <input class="d-inline-block form-control rounded-1" type="search" name="search" />
            </label>

            <div class="m-0 py-1 px-0 col-12 col-lg-2 d-flex gap-2 align-items-center justify-content-center justify-content-lg-start">
                <button class="btn btn-success p-1 rounded-1" type="submit">{% translate "Барај" %}</button>
                <button class="btn btn-danger p-1 rounded-1" type="reset">{% translate "Ресетирај" %}</button>
            </div>
        </form>
        {% if articles.count > 0 %}
            <div class="w-100 d-flex flex-column align-items-stretch align-items-lg-center gap-3">
                {% for article in articles %}
                    {% include 'article_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <h2>{% translate 'Нема објави според Вашите критериуми' %}</h2>
        {% endif %}
    </section>

    <script>
        const monthPicker = document.querySelector('form input[type=month]');
        const searchBox = document.querySelector('form input[type=text]')
        const reset = document.querySelector('form button[type=reset]');

        window.addEventListener('load', () => {
            monthPicker.value = "{{ request.GET.time }}";
            searchBox.value = "{{ request.GET.search }}";
        });

        reset.addEventListener('click', () => {
            reset.form.reset();
            reset.form.submit();
        });
    </script>
{% endblock %}