{% extends 'layout/base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}
    {% translate "Новости" %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/article_list.css' %}">

    <section class="container-sm p-3 px-2 px-md-5 d-flex flex-column align-items-center gap-3">
        <h2 class="section-header text-light-green">{% translate 'Новости' %}</h1>
        
        <form id="article-filter-form" class="w-100 row gy-2">
            <label class="col-12 col-lg-4 d-flex gap-2 align-items-center">
                <span class="m-0">{% translate "Месец" %}</span>
                <input class="d-inline-block form-control rounded-0" type="month" name="time" value="{{ request.GET.time }}">
            </label>
            <label class="col-12 col-lg-4 d-flex gap-2 align-items-center">
                <span class="m-0">{% translate "Текст" %}</span>
                <input class="d-inline-block form-control rounded-0" type="search" name="search" value="{{ request.GET.search }}">
            </label>

            <div class="col-12 col-lg-4 d-flex gap-2 align-items-center">
                <button class="btn btn-primary p-1 rounded-0" type="submit">{% translate "Барај" %}</button>
                <button class="btn btn-danger p-1 rounded-0" type="reset" onclick="this.form.submit()">{% translate "Ресетирај" %}</button>
            </div>
        </form>
        {% if articles.count > 0 %}
            <div class="w-100 d-flex flex-column align-items-stretch align-items-lg-center gap-3">
                {% for article in articles %}
                    {% include 'article_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <h2>{% translate 'Нема објави според Вашите критериуми' %}</h2>
        {% endif %}
    </section>

    <script>
        const form = document.querySelector('form')
        const reset = document.querySelector('form button[type=reset]')
        reset.addEventListener(() => {
            form.submit();
        });
    </script>
{% endblock %}