{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'Објави' %}{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{% static 'css/attachments.css' %}">
    
    <div class="pt-5 px-3 px-md-5 container-lg d-flex flex-column align-items-center gap-5">
        {% for category in attachment_categories %}
            <section class="d-flex flex-column align-items-center gap-2" id="{{ category.name_slug }}">
                <div class="text-light-green section-header" >
                    <h2>{{ category.name }}</h2>
                </div>
            
                {% for attachment in category.attachments.all %}
                    <div class="bg-primary-green p-3 w-100">
                        <p class="d-flex justify-content-xl-center text-light">{{ attachment.name }}</p>
                
                        <div class="d-flex justify-content-center ">
                            <a class="btn btn-attachment rounded-0" href="/media/{{ attachment.file }}">{% translate 'Превземи' %}</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
    
	<section class="bottom-map mt-5">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.0775546549135!2d21.58139251568422!3d41.98931326642568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135438daccb390ed%3A0xa2544433bb236be9!2z0KHQntCh0KMgItCY0LvQuNC90LTQtdC9Ig!5e1!3m2!1sen!2smk!4v1646334169948!5m2!1sen!2smk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>
{% endblock %}