{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'Прилози' %}{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/attachments.css' %}">
    
    <div class="pt-5 px-3 px-md-5 container-lg d-flex flex-column align-items-center gap-5">
        {% for category in attachment_categories %}
            <section class="d-flex flex-column align-items-center gap-2" id="{{ category.name_slug }}">
                <div class="text-light-green section-header" >
                    <h2>{{ category.name }}</h2>
                </div>
            
                {% for attachment in category.attachments.all %}
                    <div class="bg-primary-green p-3">
                        <p class="mb-1 d-flex justify-content-xl-center text-light">{{ attachment.name }}</p>
                
                        <div class="d-flex justify-content-center ">
                            <a class="btn btn-attachment p-1 rounded-0" href="/media/{{ attachment.file }}">{% translate 'Превземи' %}</a>
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endfor %}
    </div>
{% endblock %}