{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'Контакт' %}{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

	<div class="contact-wrapper d-flex flex-column align-items-center justify-content-center" style="background-image: url({% static 'icons/sosuilinden.jpg' %});">
		<form method="POST" id="contact-form" class="p-4 rounded-3 d-flex flex-column gap-4 align-items-stretch bg-light">
			{% csrf_token %}
			
			<h3 class="text-center">{% translate 'Контактирајте не' %}</h3>

			{% if status == 'failed' %}
				<h5 class="m-0 p-3 rounded-3 text-light bg-danger">{% translate 'Пораката неможеше да се испрати. Ве молиме обидете се подоцна.' %}</h5>
			{% elif status == 'success' %}
				<h5 class="m-0 p-3 rounded-3 text-light bg-light-green">{% translate 'Пораката е успешно испратена.' %}</h5>
			{% endif %}

			<input class="bg-light" type="text" name="full_name" placeholder="{% translate 'Име и презиме' %}" required>
			<input class="bg-light" type="email" name="email" placeholder="Email" required>
			<input class="bg-light" type="text" name="title" placeholder="{% translate 'Наслов' %}" required>
			<textarea class="bg-light" name="content" cols="30" rows="3" placeholder="{% translate 'Порака' %}"></textarea>
			
			<input class="btn btn-success rounded-0" type="submit" value="{% translate 'Испрати' %}">

			<div class="mt-2 d-flex flex-column gap-2 align-items-center">
				<div class="text-hover-yellow">
					<i class="fa fa-map-location-dot"></i>
				  	<a class="text-hover-yellow" href="https://www.google.com/maps/dir//sosu+ilinden/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x135438daccb390ed:0xa2544433bb236be9?sa=X&ved=2ahUKEwjLuJffv979AhUig_0HHVgJCCQQ9Rd6BAhMEAQ">Улица 534, бр.29, н.м Марино</a>
				</div>

				<div class="text-hover-yellow">
					<i class="fa fa-phone"></i>
					<a href="tel:022556111" class="text-hover-yellow">02/ 2 556 111</a>
				</div>

				<div class="text-hover-yellow">
					<i class="fa fa-envelope"></i>
					<a href="mailto:suilinden@yahoo.com" class="text-hover-yellow">suilinden@yahoo.com</a>
				</div>
			</div>
		</form>
	</div>

	<section class="bottom-map">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.0775546549135!2d21.58139251568422!3d41.98931326642568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135438daccb390ed%3A0xa2544433bb236be9!2z0KHQntCh0KMgItCY0LvQuNC90LTQtdC9Ig!5e1!3m2!1sen!2smk!4v1646334169948!5m2!1sen!2smk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>
{% endblock %}