{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'Галерија' %}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/curriculum.css' %}">

    <section class="pt-5">
        <div class="table-container container-md p-3 p-md-5 shadow">
            <h2>{% translate "Образовен профил: ЕЛЕКТРОТЕХНИЧАР ЗА ЕЛЕКТРОНИКА И ТЕЛЕКОМУНИКАЦИЈА" %}</h2>
            <h4>{% translate "Времетраење: четири години" %}</h4>
            <div class="table-wrapper w-100">
                <table class="curriculum-table w-100" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th rowspan="3" class="w-50 bg-light-green">{% translate "Програмски подрачја и наставни предмети" %}</th>
                        <th colspan="8" class="bg-light-green">{% translate "Година и фонд на часови" %}</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="year">I</td>
                        <td colspan="2" class="year">II</td>
                        <td colspan="2" class="year">III</td>
                        <td colspan="2" class="year">IV</td>
                    </tr>
                    <tr>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                    </tr>
        
                    <tr class="category bg-secondary-subtle">
                        <td colspan="9">{% translate "Општо образование" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Македонски јазик и литература" %}</td>
                        <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>3</td> <td>99</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Странски јазик" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Бизнис" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Информатика" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Историја" %}</td>
                        <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Историја на Македонија" %}</td>
                        <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Граѓанско образование" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Предмети по функција на струката" %}</td>
                        <td>5</td> <td>-</td> <td>5</td> <td>-</td> <td>2</td> <td>-</td> <td>2</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Математика" %}</td>
                        <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Физика" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>14</td> <td>504</td> <td>14</td> <td>504</td> <td>9</td> <td>324</td> <td>11</td> <td>363</td> 
                    </tr>
        
        
                    <tr class="category">
                        <td colspan="9">{% translate "Стручно образование" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електротехника" %}</td>
                        <td>5</td> <td>108</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електротехнички материјали и елементи" %}</td>
                        <td>4</td> <td>144</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Техничко цртање" %}</td>
                        <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Аналогна електроника" %}</td>
                        <td>-</td> <td>-</td> <td>4</td> <td>144</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Основи на мерењата и електрични кола" %}</td>
                        <td>-</td> <td>-</td> <td>3</td> <td>108</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Телекомуникации" %}</td>
                        <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Дигитална електроника и микропроцесори" %}</td>
                        <td>-</td> <td>-</td> <td>3</td> <td>108</td> <td>5</td> <td>180</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електронски склопови и уреди" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>3</td> <td>108</td> <td>5</td> <td>165</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Телекомуникациски склопови и уреди" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>3</td> <td>108</td> <td>3</td> <td>99</td>
                    </tr>
                    
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>11</td> <td>396</td> <td>12</td> <td>432</td> <td>11</td> <td>396</td> <td>8</td> <td>294</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Практична обука" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Практична настава" %}</td>
                        <td>-</td> <td>-</td> <td>4</td> <td>144</td> <td>6</td> <td>226</td> <td>5</td> <td>165</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Феријална практика" %}</td>
                        <td>-</td> <td>5</td> <td>-</td> <td>10 дена</td> <td>-</td> <td>15 дена</td> <td>-</td> <td>-</td> 
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>-</td> <td>-</td> <td>4</td> <td>144</td> <td>6</td> <td>226</td> <td>5</td> <td>165</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Изборна настава" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Предмети по функција на завршен испит" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Електронски склопови и уреди" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Телекомуникациски склопови и уреди" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Дигитална електроника и микропроцесори" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Практична настава" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Предмети по функција на матура" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Математика" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Физика" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>25</td> <td>900</td> <td>30</td> <td>1080</td> <td>30</td> <td>1080</td> <td>29</td> <td>924</td> 
                    </tr>
        
                    <tr class="total cela-nastava">
                        <td>{% translate "Вкупно (цела настава): " %}</td>
                        <td>25</td> <td>900</td> <td>30</td> <td>1080</td> <td>30</td> <td>1080</td> <td>29</td> <td>924</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Задолжителни активности" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Спорт и спортски активности" %}</td>
                        <td>-</td> <td>72</td> <td>-</td> <td>72</td> <td>-</td> <td>72</td> <td>-</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Активности од област на културата" %}</td>
                        <td>-</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Факултивна настава" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>до 66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Слободни часови на училиштето" %}</td>
                        <td>-</td> <td>до 72</td> <td>-</td> <td>до 72</td> <td>-</td> <td>до 72</td> <td>-</td> <td>до 66</td> 
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </section>

    <section class="pt-5">
        <div class="table-container container-md p-3 p-md-5 shadow">
            <h2>{% translate "Образовен профил: ЕЛЕКТРОТЕХНИЧАР ЗА КОМПЈУТЕРСКА ТЕХНИКА И АВТОМАТИКА" %}</h2>
            <h4>{% translate "Времетраење: четири години" %}</h4>
            <div class="table-wrapper w-100">
                <table class="curriculum-table w-100" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th rowspan="3" class="w-50 bg-light-green">{% translate "Програмски подрачја и наставни предмети" %}</th>
                        <th colspan="8" class="bg-light-green">{% translate "Година и фонд на часови" %}</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="year">I</td>
                        <td colspan="2" class="year">II</td>
                        <td colspan="2" class="year">III</td>
                        <td colspan="2" class="year">IV</td>
                    </tr>
                    <tr>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                        <td class="fond">{% translate "нед." %}</td>
                        <td class="fond">{% translate "год." %}</td>
                    </tr>
        
                    <tr class="category bg-secondary-subtle">
                        <td colspan="9">{% translate "Општо образование" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Македонски јазик и литература" %}</td>
                        <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>3</td> <td>99</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Странски јазик" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Бизнис" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Информатика" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Историја" %}</td>
                        <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Историја на Македонија" %}</td>
                        <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Граѓанско образование" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Предмети по функција на струката" %}</td>
                        <td>5</td> <td>-</td> <td>5</td> <td>-</td> <td>2</td> <td>-</td> <td>2</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Математика" %}</td>
                        <td>3</td> <td>108</td> <td>3</td> <td>108</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Физика" %}</td>
                        <td>2</td> <td>72</td> <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>14</td> <td>504</td> <td>14</td> <td>504</td> <td>9</td> <td>324</td> <td>11</td> <td>363</td> 
                    </tr>
        
        
                    <tr class="category">
                        <td colspan="9">{% translate "Стручно образование" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електротехника" %}</td>
                        <td>5</td> <td>108</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електротехнички материјали и елементи" %}</td>
                        <td>4</td> <td>144</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Техничко цртање" %}</td>
                        <td>2</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Електроника" %}</td>
                        <td>-</td> <td>-</td> <td>4</td> <td>144</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Основи на мерењата и електрични кола" %}</td>
                        <td>-</td> <td>-</td> <td>3</td> <td>108</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Програмирање" %}</td>
                        <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>3</td> <td>108</td> <td>3</td> <td>99</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Автоматика" %}</td>
                        <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>3</td> <td>180</td> <td>-</td> <td>-</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Дигитални системи" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>5</td> <td>180</td> <td>3</td> <td>99</td>
                    </tr>
                    <tr class="subject-row">
                        <td class="subject-name">{% translate "Процесно управување	" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>3</td> <td>99</td>
                    </tr>
                    
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>11</td> <td>396</td> <td>11</td> <td>396</td> <td>11</td> <td>396</td> <td>9</td> <td>297</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Практична обука" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Практична настава" %}</td>
                        <td>-</td> <td>-</td> <td>5</td> <td>1080</td> <td>6</td> <td>226</td> <td>4</td> <td>132</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Феријална практика" %}</td>
                        <td>-</td> <td>5</td> <td>-</td> <td>10 дена</td> <td>-</td> <td>15 дена</td> <td>-</td> <td>-</td> 
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>-</td> <td>-</td> <td>5</td> <td>180</td> <td>6</td> <td>226</td> <td>4</td> <td>132</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Изборна настава" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Предмети по функција на завршен испит" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Програмирање" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Дигитални системи	" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Автоматика" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Практична настава" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Предмети по функција на матура" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Математика" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Физика" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>2</td> <td>72</td> <td>2</td> <td>66</td> 
                    </tr>
        
                    <tr class="total">
                        <td>{% translate "Вкупно: " %}</td>
                        <td>25</td> <td>900</td> <td>30</td> <td>1080</td> <td>30</td> <td>1080</td> <td>29</td> <td>924</td> 
                    </tr>
        
                    <tr class="total cela-nastava">
                        <td>{% translate "Вкупно (цела настава): " %}</td>
                        <td>25</td> <td>900</td> <td>30</td> <td>1080</td> <td>30</td> <td>1080</td> <td>29</td> <td>924</td> 
                    </tr>
        
                    <tr class="category">
                        <td colspan="9">{% translate "Задолжителни активности" %}</td>
                    </tr>
        
                    <tr class="subject-row">
                        <td>{% translate "Спорт и спортски активности" %}</td>
                        <td>-</td> <td>72</td> <td>-</td> <td>72</td> <td>-</td> <td>72</td> <td>-</td> <td>66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Активности од област на културата" %}</td>
                        <td>-</td> <td>72</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Факултивна настава" %}</td>
                        <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>до 66</td> 
                    </tr>
                    <tr class="subject-row">
                        <td>{% translate "Слободни часови на училиштето" %}</td>
                        <td>-</td> <td>до 72</td> <td>-</td> <td>до 72</td> <td>-</td> <td>до 72</td> <td>-</td> <td>до 66</td> 
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </section>
{% endblock %}