{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'Галерија' %}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    <div class="container-sm pt-3 px-2 px-lg-5">
        <form class="d-flex align-items-center gap-2 justify-content-center" id="category-form">
            <label data-category="all" class="category-label p-1 border border-1 border-dark {% if not selected_category %}selected{% endif %}">
                <span>{% translate 'Сите' %}</span>
                <input class="category-selector d-none" type="radio" name="category" value="" onclick="this.form.submit()">
            </label>
            {% for category in categories.all %}
                <label data-category="{{category.name_slug}}" class="category-label p-1 border border-1 border-dark {% if selected_category == category.name_slug %}selected{% endif %}">
                    <span>{{ category.name }}</span>
                    <input class="category-selector d-none" type="radio" name="category" value="{{ category.name_slug }}" onclick="this.form.submit()">
                </label>
            {% endfor %}
        </form>
    </div>

    <section class="mt-3 mx-0 p-1 row g-1">
        {% for image in images.all %}
            <div class="img-container position-relative col-6 col-sm-4 col-md-3 overflow-hidden">
                <img class="w-100 h-100 object-fit-cover" src="/media/{{ image.image }}" alt="{{ image.image.name }}">
                <div class="img-caption z-1 position-absolute top-0 w-100 h-100 p-3 d-flex flex-column align-items-center bg-yellow text-black opacity-0">
                    {% if image.title %}
                        <h3>{{ image.title }}</h3>
                    {% endif %}
                    <p class="m-0 mt-auto">{{ image.category.name }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}