{% extends "layout/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate 'СОСУ „ИЛИНДЕН“' %}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <section id="main-carousel" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
        <div class="carousel-inner w-100 h-100">
            {% for image in slider.images.all %}
                <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
                    <img src="/media/{{image.image}}" alt="{{ image.name }}" class="d-block m-0 w-100 h-100 object-fit-cover">
                    {% if image.title %}
                    <div class="carousel-caption w-100 d-none d-sm-block px-5 py-3 py-lg-5 bg-warning bg-opacity-75">
                        <h2 class="opacity-100 m-0 text-light">{{ image.title }}</h2>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="carousel-indicators">
            {% for image in slider.images.all %}
                <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        <a role="button" class="position-absolute scroll-down d-none d-lg-block z-1 p-3 text-light">
            <i class="fa fa-chevron-down fa-bounce" aria-hidden="true"></i>
        </a>
    </section>

    <section id="link-section" class="container-fluid m-0 p-0 px-lg-3 pt-0 pt-md-3">
        <div class="w-100 p-0 p-md-2 ">
            <div class="w-100 row row-cols-1 row-cols-sm-2 row-cols-md-4 m-0 p-3 bg-light-green text-dark">
                <a href="{% url 'gallery' %}" class="col d-flex flex-column align-items-center text-dark text-hover-gray">
                    <i class="fa-regular fa-image"></i>
                    <h5>{% translate 'Галерија' %}</h5>
                </a>
                <a href="{% url 'curriculum' %}" class="col d-flex flex-column align-items-center text-dark text-hover-gray">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <h5>{% translate 'Настава' %}</h5>
                </a>
                <a href="{% url 'about_us' %}" class="col d-flex flex-column align-items-center text-dark text-hover-gray">
                    <i class="fa-solid fa-users"></i>
                    <h5>{% translate 'За нас' %}</h5>
                </a>
                <a href="{% url 'contact' %}" class="col d-flex flex-column align-items-center text-dark text-hover-gray">
                    <i class="fa-solid fa-envelope"></i>
                    <h5>{% translate 'Контакт' %}</h5>
                </a>
            </div>
        </div>
    </section>
    
    <section id="counter-section" class="w-100 py-0 py-sm-5">
        <div class="counter-container container-md  mx-auto p-0 p-md-2 border border-5 border-warning">
            <div class="row row-cols-1 row-cols-sm-3 w-100 m-0 p-3 py-md-5 text-dark bg-yellow">
                <div class="col m-0 px-2 d-flex flex-column justify-content-center align-items-center gap-2 ">
                    <div class="icon-container">
                        <i class="fa fa-calendar fa-6x d-none d-md-block" aria-hidden="true"></i>
                    </div>
                    <h1 id="student-counter" class="counter-number m-0">0</span>
                    <h5 class="counter-subtitle m-0">{% translate 'Ученици' %}</span>
                </div>
                <div class="col m-0 px-2 d-flex flex-column justify-content-center align-items-center gap-2 ">
                    <div class="icon-container">
                        <i class="fas fa-chalkboard-teacher fa-6x d-none d-md-block"></i>
                    </div>
                    <h1 id="professor-counter" class="counter-number m-0">0</span>
                    <h5 class="counter-subtitle m-0">{% translate 'Професори' %}</span>
                </div>
                <div class="col m-0 px-2 d-flex flex-column justify-content-center align-items-center gap-2 ">
                    <div class="icon-container">
                        <i class="fas fa-people-group fa-6x d-none d-md-block"></i>
                    </div>
                    <h1 id="years-counter" class="counter-number m-0">0</span>
                    <h5 class="counter-subtitle m-0">{% translate 'Години' %}</span>
                </div>
            </div>
        </div>
    </section>

    <section id="news-section" class="py-4">
        <a href="{% url 'article_list' %}">
            <h2 class="section-header mx-auto text-light-green">{% translate 'Новости' %}</h2>
        </a>
        <div class="container-fluid row m-0 g-3 bg-body">
            {% for article in articles %}
                <div class="col-12 col-xl-4">
                    {% include 'article_card.html' %}
                </div>
            {% endfor %}
        </div>
        <div class="w-100 p-2 text-center">
            <a href="{% url 'article_list' %}" class="btn btn-warning rounded-0 text-light">{% translate 'Видете повеќе' %}</a>
        </div>
    </section>

    <section class="w-100 mt-5 bottom-map">
        <div class="w-100 video-container row m-0 py-4 px-3 px-lg-5 bg-light-green">
            <div class="col-12 col-md-8 col-xl-6">
                <iframe class="ratio-16x9 w-100" height="360" src="https://www.youtube.com/embed/YB21IjUsAhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <p class="col-12 col-md-4 text-light">{% translate 'СОСУ „ИЛИНДЕН“ го гледаме како современо, европско училиште полно со професионализам, креативност и сигурен развој кон најелитните училишта за оспособување на кадар од електротехничка струка.' %}</p>
        </div>
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3618.0775546549135!2d21.58139251568422!3d41.98931326642568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135438daccb390ed%3A0xa2544433bb236be9!2z0KHQntCh0KMgItCY0LvQuNC90LTQtdC9Ig!5e1!3m2!1sen!2smk!4v1646334169948!5m2!1sen!2smk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>

    <script>
        document.querySelector('.scroll-down').onclick = () => {
            scrollBy(0, window.innerHeight - 64);
        }

        const counterContainer = document.querySelector('#counter-section');
        let counterHasStarted = false;
        const initiateCounters = () => {
            if(window.scrollY >= counterContainer.offsetTop - window.innerHeight + 200 && !counterHasStarted) {
                counter("years-counter", 0, 11, 2000);
                counter("student-counter", 100, 350, 2000);
                counter("professor-counter", 0, 18, 2000);

                counterHasStarted = true;
            };
        }

        window.addEventListener('load', initiateCounters);
        window.addEventListener('scroll', initiateCounters);

        const counter = (id, start, end, duration) => {
            const obj = document.getElementById(id);
            const range = end - start;
            const increment = end > start ? 1 : -1;
            const step = Math.abs(Math.floor(duration / range));
            
            let current = start;
            const timer = setInterval(() => {
                current += increment;
                obj.textContent = current;

                if (current >= end) clearInterval(timer);
            }, step);
        }
    </script>
{% endblock %}