{% load i18n %}
{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/all.min.js' %}"></script>
    
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    {% get_available_languages as languages %}
    {% get_current_language as current_language %}

    {% include 'layout/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'layout/footer.html' %}
</body>
</html>