{% load i18n %}
{% load static %}
<footer class="w-100 m-0 py-2 py-lg-5 row text-white bg-black">
   <div class="col-12 col-lg-4 p-2 d-flex flex-column align-items-center">
      <span>
         <strong class="sosu-logo">{% translate 'СОСУ' %}</strong>
         <strong class="ilinden-logo ">{% translate '„ИЛИНДЕН“' %}</strong> 
      </span>

      <div class="d-flex gap-2">
         <a href="{% url 'index' %}" class="footer-nav text-light">{% translate 'Почетна' %}</a>
         <a href="" class="footer-nav text-light">{% translate 'За Нас' %}</a>
         <a href="" class="footer-nav text-light">{% translate 'Контакт' %}</a>
         <a href="" class="footer-nav text-light">{% translate 'Новости' %}</a>
      </div>
   </div>

   <div class="col-12 col-lg-4 p-2 d-flex flex-column gap-2">
      <div class="d-flex align-items-center gap-2">
         <img src="{% static 'icons/location.png' %}" class="icon" alt="location_icon">
         <a href="https://www.google.com/maps/dir//sosu+ilinden/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x135438daccb390ed:0xa2544433bb236be9?sa=X&ved=2ahUKEwjLuJffv979AhUig_0HHVgJCCQQ9Rd6BAhMEAQ" class="text-light">Улица 534, бр.29, н.м Марино</a>
      </div>
      
      <div class="d-flex align-items-center gap-2">
         <img src="{% static 'icons/phone.png' %}" class="icon" alt="phone_icon">
         <a href="tel:022556111" class="text-light">02/ 2 556 111</a>
      </div>

      <div  class="d-flex align-items-center gap-2">
         <img src="{% static 'icons/email.png' %}" class="icon" alt="email_icon">
         <a href="mailto:suilinden@yahoo.com" class="text-light">suilinden@yahoo.com</a>
      </div>
   </div>

   <div class="col-12 col-lg-4 p-2 d-flex flex-column align-items-center">
      <h5 class="about-us-header m-0">{% translate 'За Нас' %}</h5>
      <p class="text-center m-0 px-2">{% translate 'СОСУ' %} <strong class="ilinden-highlight">{% translate '„ИЛИНДЕН“' %}</strong>{% translate ' го гледаме како современо, европско училиште полно со професионализам, креативност и сигурен развој кон најелитните училишта за оспособување на кадар од електротехничка струка.' %} </p>
   </div>

</footer>