{% load i18n %}

<nav class="navbar navbar-expand-lg position-fixed vw-100 navbar-light bg-warning">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand">{% translate 'СОСУ Илинден' %}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">{% translate 'Новости' %}</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% translate 'Настава' %}</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% translate 'Галерија' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">{% translate 'Прилози' %}</a>
                    <ul class="dropdown-menu rounded-0">
                        <li>
                            <a href="" class="dropdown-item">link</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item">link</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item">link</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">{% translate 'Информации за ученици' %}</a>
                    <ul class="dropdown-menu rounded-0">
                        <li>
                            <a href="" class="dropdown-item">{% translate 'Матура' %}</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item">{% translate 'Вонредни ученици' %}</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item">{% translate 'Распоред на часови' %}</a>
                        </li>
                        <li>
                            <a href="" class="dropdown-item">{% translate 'Кодекс на однесување' %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% translate 'За нас' %}</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% translate 'Контакт' %}</a>
                </li>
            </ul>
        </div>        
    </div>
</nav>