{% load i18n %}

<nav class="navbar navbar-expand-lg z-3 position-fixed w-100 top-0 left-0 p-0 navbar-dark bg-primary-green">
    <div class="container-fluid p-0">
        <div class="nav-brand-container px-2 d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="navbar-brand">{% translate 'СОСУ Илинден' %}</a>
        
            <button class="navbar-toggler ms-auto border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse w-100 px-2 bg-primary-green" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'article_list' %}" class="nav-link px-2">{% translate 'Новости' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'gallery' %}" class="nav-link px-2">{% translate 'Галерија' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link px-2 dropdown-toggle" role="button" data-bs-toggle="dropdown">{% translate 'Прилози' %}</a>
                    <ul class="dropdown-menu rounded-0 bg-light-green dropdown-shadow py-0">
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green py-1 text-center text-lg-start">link</a>
                        </li>
                        <hr />
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green py-1 text-center text-lg-start">link</a>
                        </li>
                        <hr />
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green pt-1 text-center text-lg-start">link</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link px-2">{% translate 'Настава' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link px-2 dropdown-toggle" role="button" data-bs-toggle="dropdown">{% translate 'Информации за ученици' %}</a>
                    <ul class="dropdown-menu rounded-0 bg-light-green dropdown-shadow py-0">
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green py-1 text-center text-lg-start">{% translate 'Матура' %}</a>
                        </li>
                        <hr />
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green py-1 text-center text-lg-start">{% translate 'Вонредни ученици' %}</a>
                        </li>
                        <hr />
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green py-1 text-center text-lg-start">{% translate 'Распоред на часови' %}</a>
                        </li>
                        <hr />
                        <li>
                            <a href="" class="nav-link dropdown-item bg-light-green pt-1 text-center text-lg-start">{% translate 'Кодекс на однесување' %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about_us' %}" class="nav-link px-2">{% translate 'За нас' %}</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link px-2">{% translate 'Контакт' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                    </a>
                    <ul class="dropdown-menu language-dropdown rounded-0 bg-light-green dropdown-shadow py-0">
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="mk">
                                <input class="language-btn border-0 nav-link" type="submit" value="MK">
                            </form>
                        </li>
                        <hr />
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="en">
                                <input class="language-btn border-0 nav-link" type="submit" value="EN">
                            </form>
                        </li>
                        <hr />
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="sq">
                                <input class="language-btn border-0 nav-link" type="submit" value="SQ">
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>    
    </div>
</nav>